<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link id="themeCSS" rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @RenderSection("StyleSheets", required: false)
</head>
<body class="container-xl" data-bs-theme="light">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Context.Request.PathBase/">MyNotes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Notes" asp-action="Index">Notes</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Files" asp-action="Index">Files</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blogs" asp-action="Index">Blogs</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="javascript:setTheme('light')">Light</a></li>
                                <li><a class="dropdown-item" href="javascript:setTheme('dark')">Dark</a></li>
                                <li><a class="dropdown-item" href="javascript:setTheme('system')">System</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form asp-controller="Home" asp-action="Search" method="get" class="d-flex mb-2 mb-lg-0">
                        <div class="input-group me-3">
                            <div class="input-group-text"><i class="bi bi-search"></i></div>
                            <input id="searchAll" class="form-control shadow-none" type="search"
                                   placeholder="Search" name="term" required>
                        </div>
                    </form>
                    <a asp-controller="Notes" asp-action="Create" class="btn btn-success my-2 my-lg-0">New Note</a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="my-3" style="min-height: 400px">
        @RenderBody()
    </main>
    <footer class="footer text-center text-muted mb-3">
        <div>
            Copyright &copy; Chengyu Sun 2020-2025.<br />
            Styled with <a href="https://getbootstrap.com/">Bootstrap</a>.
            Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js-cookie/js.cookie.min.js"></script>
    <script>
        function setTheme(theme) {
          Cookies.set("theme", theme, { expires: 100 });
          updateTheme();
        }
        function updateTheme() {
          var theme = Cookies.get("theme");
          if( !theme || theme == "system" )
            theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
          $("body").attr("data-bs-theme", theme);
        }
        $(function () {
          // Code from https://github.com/shaack/bootstrap-auto-dark-mode/blob/main/src/bootstrap-auto-dark-mode.js
          window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", updateTheme);
          updateTheme();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
