@model NoteInputModel
@{
    ViewData["Title"] = $"MyNotes - {Model.Subject}";
}
@section StyleSheets{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.Id">@Model.Subject</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
</nav>

<div class="btn-toolbar mb-3">
    <button id="status" type="button" class="btn btn-success mr-3">
        <i class="fas fa-check-circle"></i>
    </button>
    <button id="lock" type="button" class="btn btn-info mr-3">
        <i id="locked" class="fas fa-lock"></i>
        <i id="unlocked" class="fas fa-lock-open"></i>
    </button>
    <div id="noteTags" class="input-group mr-2">
        @foreach (var noteTag in ViewBag.NoteTags)
        {
            <button type="button" class="delTag btn btn-secondary mr-2">@noteTag.Label</button>
        }
    </div>
    <div class="input-group">
        <select id="tags" class="form-control">
            <option></option>
            @foreach (var tag in ViewBag.Tags)
            {
                <option>@tag.Label</option>
            }
        </select>
    </div>
</div>

<form>
    <div class="form-group">
        <input asp-for="Subject" class="form-control">
    </div>
    <div class="form-group">
        <textarea asp-for="Content"></textarea>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://unpkg.com/prettier@2.1.2/standalone.js"></script>
    <script src="https://unpkg.com/prettier@2.1.2/parser-html.js"></script>
    <script>
        function setStatus(saved) {
            var status = $("#status").hasClass("btn-success");
            if (status == saved) return;
            if (saved)
                $("#status")
                    .removeClass("btn-warning")
                    .addClass('btn-success')
                    .empty()
                    .append("<i class='fas fa-check-circle'></i>");
            else
                $("#status")
                    .removeClass("btn-success")
                    .addClass('btn-warning')
                    .empty()
                    .append("<i class='fas fa-exclamation-circle'></i>");
        }
        function delTag($btn) {
            $.ajax({
                url: "@Context.Request.PathBase/Notes/@Model.Id/Tags",
                method: "delete",
                data: { tag: $btn.text() },
                success: function () {
                    $("#tags").append(`<option>${$btn.text()}</option>)`);
                    $btn.remove();
                }
            });
        }
        // Code from https://stackoverflow.com/questions/14042193/how-to-trigger-an-event-in-input-text-after-i-stop-typing-writing
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();
        // Code from https://github.com/summernote/summernote/issues/3409
        var formatButton = function (context) {
            var ui = $.summernote.ui;
            var button = ui.button({
                contents: "<i class='fas fa-hand-sparkles'></i>",
                tooltip: "Format HTML",
                click: function () {
                    if (prettier && prettierPlugins) {
                        let content = prettier.format($("#Content").summernote("code"), {
                            parser: "html",
                            plugins: prettierPlugins
                        });
                        $("#Content").summernote("code", content);
                    }
                }
            });
            return button.render();
        };
        var saveButton = function (context) {
            var ui = $.summernote.ui;
            var button = ui.button({
                contents: "<i class='fas fa-save'></i>",
                tooltip: "Save",
                click: function () {
                    $.ajax({
                        url: "@Context.Request.PathBase/Notes/@Model.Id/Content",
                        method: "put",
                        data: { value: $("#Content").val() },
                        success: function () {
                            setStatus(true);
                        }
                    });
                }
            });
            return button.render();
        };
        $(function () {
            @if (Model.IsPublic)
            {
                <text>$("#locked").hide();</text>
            }
            else
            {
                <text>$("#unlocked").hide();</text>
            }
            $("#lock").click(function () {
                if ($("#unlocked").is(":hidden"))
                    $.ajax({
                        url: "@Context.Request.PathBase/Notes/@Model.Id/IsPublic",
                        method: "put",
                        data: { value: "True" },
                        success: function () {
                            $("#locked").hide();
                            $("#unlocked").show();
                        }
                    });
                else
                    $.ajax({
                        url: "@Context.Request.PathBase/Notes/@Model.Id/IsPublic",
                        method: "put",
                        data: { value: "False" },
                        success: function () {
                            $("#unlocked").hide();
                            $("#locked").show();
                        }
                    });
            });
            $("#Subject").keyup(function () {
                setStatus(false);
                delay(function () {
                    $.ajax({
                    url: "@Context.Request.PathBase/Notes/@Model.Id/Subject",
                        method: "put",
                        data: { value: $("#Subject").val() },
                        success: function () {
                            setStatus(true);
                        }
                    });
                }, 1000);
            });
            $("#Content").summernote({
                height: 600,
                callbacks: {
                    onKeyup: function () {
                        setStatus(false);
                        delay(function () {
                            $.ajax({
                                url: "@Context.Request.PathBase/Notes/@Model.Id/Content",
                                method: "put",
                                data: { value: $("#Content").val() },
                                success: function () {
                                    setStatus(true);
                                }
                            });
                        }, 1000);
                    },
                    onBlurCodeview: function () {
                        console.log("something");
                    }
                },
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'strikethrough', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['format', 'codeview', 'fullscreen']],
                    ['save', ['save']],
                ],
                buttons: {
                    format: formatButton,
                    save: saveButton
                }
            });
            $(".delTag").click(function () {
                delTag($(this));
            })
            $("#tags").change(function () {
                var tag = $(this).val();
                if (!tag) return;
                $.ajax({
                    url: "@Context.Request.PathBase/Notes/@Model.Id/Tags",
                    method: "post",
                    data: { tag },
                    success: function () {
                        var btn = $("<button type='button' class='delTag btn btn-secondary mr-2'></button>");
                        btn.text(tag);
                        btn.click(function () {
                            delTag(btn);
                        });
                        $("#noteTags").append(btn);
                        $("option:selected").remove();
                    }
                });
            });
        });
    </script>
}
