@model List<Note>

<form method="get" class="form-inline">
    <div class="input-group mb-2 mr-2">
        <input type="text" class="form-control" id="term" name="term" value="@Context.Request.Query["term"]">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

@if (Model.Count > 0)
{
    <table class="table table-hover mt-2">
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Notes" asp-action="View" asp-route-id="@note.Id" class="mr-3">@note.Subject</a>
                        @foreach (var noteTag in note.NoteTags)
                        {
                            <a asp-controller="Notes" asp-action="Index" asp-route-term="tag:@noteTag.Label"
                               class="badge badge-success">@noteTag.Label</a>
                        }
                    </td>
                    <td>@note.Updated.ToString("d")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@note.Id" class="btn btn-primary btn-sm">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
