@model Note
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@{
    ViewData["Title"] = $"MyNotes - {Model.Subject}";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item active">@Model.Subject</li>
        @if ((await authorizationService.AuthorizeAsync(User, "IsOwner")).Succeeded)
        {
            <li class="ml-auto">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm py-0">
                    <i class="far fa-edit"></i>
                </a>
            </li>
        }
    </ol>
</nav>

<div class="px-3">
    @Html.Raw(Model.Content)
</div>

<div class="text-right text-muted">
    <small>Last Updated: @Model.Updated.ToString("g")</small>
    @if (Model.IsPublic)
    {
        <small class="ml-3">Views: @Model.ViewCount</small>
    }
</div>
